<%- model_class = Component -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @component.name %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer) %>:</strong></dt>
  <dd><%= @component.manufacturer %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:footprint) %>:</strong></dt>
  <dd><%= @component.footprint %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @component.description %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:datasheet_url) %>:</strong></dt>
  <dd><%= @component.datasheet_url %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer_cmp_url) %>:</strong></dt>
  <dd><%= @component.manufacturer_cmp_url %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:mpn) %>:</strong></dt>
  <dd><%= @component.mpn %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:octopart_uid) %>:</strong></dt>
  <dd><%= @component.octopart_uid %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:octopart_url) %>:</strong></dt>
  <dd><%= @component.octopart_url %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @component.value %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:schlib_part) %>:</strong></dt>
  <dd><%= @component.schlib_part %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:schlib_name) %>:</strong></dt>
  <dd><%= @component.schlib_name %>&nbsp;</dd>
</dl>

<%= render(partial:'components/suppliers',:locals=>{component:@component}) %>

<div class="form-actions span12">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              components_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_component_path(@component), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              component_path(@component),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
