<%= simple_form_for @assembly_step, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :assembly_guide_id %>
  <%= f.input :index %>
  <%= f.input :front_file_name %>
  <%= f.input :front_content_type %>
  <%= f.input :front_file_size %>
  <%= f.input :front_updated_at %>
  <%= f.input :back_file_name %>
  <%= f.input :back_content_type %>
  <%= f.input :back_file_size %>
  <%= f.input :back_updated_at %>
  <%= f.input :component_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                assembly_steps_path, :class => 'btn' %>
  </div>
<% end %>
