<%- model_class = Kicadnetlist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @kicadnetlist.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tool) %>:</strong></dt>
  <dd><%= @kicadnetlist.tool %></dd>
  <dt><strong><%= model_class.human_attribute_name(:xml_file) %>:</strong></dt>
  <dd><%= link_to @kicadnetlist.xml_file_name.html_safe+' '+icon('cloud-download'),@kicadnetlist.xml.url %></dd>

</dl>

<%= render(partial:'kicadnetlists/components') %>
<%= render(partial:'kicadnetlists/references') %>

<div class="form-actions span12">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              kicadnetlists_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_kicadnetlist_path(@kicadnetlist), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              kicadnetlist_path(@kicadnetlist),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
