<%= simple_form_for @supplier_sku, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :sku %>
  <%= f.input :moq %>
  <%= f.input :prices %>
  <%= f.input :product_url %>
  <%= f.input :in_stock_qty %>
  <%= f.input :on_order_qty %>
  <%= f.input :on_order_eta %>
  <%= f.input :factory_lead_days %>
  <%= f.input :factory_pack_quantity %>
  <%= f.input :order_multiple %>
  <%= f.input :packaging %>
  <%= f.input :is_authorized %>
  <%= f.input :last_updated %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                supplier_skus_path, :class => 'btn' %>
  </div>
<% end %>
