<%- model_class = AssemblyGuide -%>
<div class="page-header">
  <h1><%= @assembly_guide.description %>
    <span class="pull-right">
    <% unless @assembly_guide.pcb.nil? %>
        <%= link_to "PCB",pcb_path(@assembly_guide.pcb), class:"btn btn-primary" %>
    <% end %>
    </span>
  </h1>
</div>

<dl class="dl-horizontal">

  <dt><strong><%= "Preview" %>:</strong></dt>
  <dd>
    <a href="<%= @assembly_guide.assembly_top.url%>"><%= image_tag @assembly_guide.assembly_top(:thumb) %></a>
    <a href="<%= @assembly_guide.assembly_bottom.url%>"><%= image_tag @assembly_guide.assembly_bottom(:thumb) %></a>
  </dd>

  <dt><strong><%= "Steps" %>:</strong></dt>
  <dd>
     <%= render(partial:'assembly_steps/index', :locals=>{assembly_steps:@assembly_guide.assembly_steps}) %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              assembly_guides_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_assembly_guide_path(@assembly_guide), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              assembly_guide_path(@assembly_guide),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
