<%- model_class = Pcb -%>
<div class="page-header">
  <h1><%=@pcb.title %> <%=t '.title', :default => model_class.model_name.human %>
    <span class="pull-right">
    <% unless @pcb.assembly_guides.count.zero? %>
        <%= link_to "Assembly Guide",assembly_guide_path(@pcb.assembly_guides.first), class:"btn btn-primary" %>
    <% end %>

  </span>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @pcb.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @pcb.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file) %>:</strong></dt>
  <dd><%= link_to "PCB", @pcb.file.url %></dd>

  <dt><strong><%= model_class.human_attribute_name(:preview_updated_at) %>:</strong></dt>
  <dd><%= image_tag @pcb.preview(:medium) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pcbs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pcb_path(@pcb), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pcb_path(@pcb),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
